extends ../layout

block mainContent
    input#uriRoot(type="hidden" value!= uriRoot)
    .row
        .col-12
            .card.m-b-30
                .card-body
                    h4.mt-0.header-title Bot settings
                    //p.text-muted.m-b-30.font-14
                    //    | This library allows you to create
                    //    | editable elements on your page. It can be used with any engine
                    //    | (bootstrap, jquery-ui, jquery only) and includes both popup and inline
                    //    | modes. Please try out demo to see how it works.
                    div#propertiesSec
                        table.table.table-striped
                            thead
                                tr
                                    th(style="width: 50%;") Property
                                    th Value
                            tbody
                                tr
                                    td % of wallet amount to use
                                    td
                                        a#percentWallet(href="#" data-type="number" data-pk="1" data-title="% of wallet amount to use")=data['percentWallet']
                                tr
                                    td % of profit per trade
                                    td
                                        a#profitPerTrade(href="#" data-type="number" data-pk="2" data-title="% of profit per trade")=data['profitPerTrade']
                                tr
                                    td % of stop loss
                                    td
                                        a#percentStopLoss(href="#" data-type="number" data-pk="3" data-title="% of stop loss")=data['percentStopLoss']
                                tr
                                    td % of take profit
                                    td
                                        a#percentTakeProfit(href="#" data-type="number" data-pk="4" data-title="percentTakeProfit")=data['percentTakeProfit']
                        div.button-items
                            button#saveProperty.btn.btn-success.waves-effect.waves-light Save
                            button#restartBots.btn.btn-danger.waves-effect.waves-light Restart Bots
            .card.m-b-30
                .card-body
                    h4.mt-0.header-title Account password
                    //p.text-muted.m-b-30.font-14
                    //    | This library allows you to create
                    //    | editable elements on your page. It can be used with any engine
                    //    | (bootstrap, jquery-ui, jquery only) and includes both popup and inline
                    //    | modes. Please try out demo to see how it works.
                    form#passwordSec(action=uriRoot + 'settings/password' method='POST')
                        table.table.table-striped
                            tbody
                                tr
                                    td(style="width: 30%;") Current Password
                                    td
                                        input#oldPassword.form-control(type="password" name="oldPassword" required)
                                tr
                                    td New Password
                                    td
                                        input#password.form-control(type="password" name="password" required data-parsley-minlength="6")
                                tr
                                    td Confirm
                                    td
                                        input#password2.form-control(type="password" name="password2" required data-parsley-equalto="#password")

                        button#changePassword.btn.btn-success.waves-effect.waves-light Change
    #restartBotsModal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            form#restartBotsForm.modal-content(action!=uriRoot + 'settings/restart-bots')
                .modal-header
                    h5.modal-title Restart Bots
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                #restartBotsModalBody.modal-body
                    p Do you want to restart bots?
                    P If you restart bots very frequently, you may be baned from BitMEX server.
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button#restartBotsButton.btn.btn-danger(type='button') Restart
        // end col
    // end row
